.Counter{
    width: fit-content;
    margin: 20px auto;
}

.Main {
    padding: 20px;
    background-color: #feffbe;
}

.big-btn {
    background-color: #060e46;
    margin-left: 20px;
    margin-right: 20px;
}
.center {
    width: fit-content;
    margin: 0 auto;
}