button {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    color: white;
}

button:focus{
    outline: none;
}

.btn-left {
    background-color: red;
    float: left;
}
.btn-right {
    background-color: green;
    float: right;
}

span{
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 70%;
}

.Counter {
    width: 22%;
    margin: 14px auto;
}

.clearfix:after, .clearfix:before {
    display: block;
    content: '';
    clear: both;
}